<h1><%= @merchant.name %>'s' Discounts</h1>
  <ol><% @merchant.discounts.each do |d| %>
    <p>Discount Name: <%= d.name %></p>
    <p>Percentage Discount: <%= d.percentage_discount %>%</p>
    <p>Quantity Threshold: <%= d.quantity_threshold %> Items</p>
    <p>Click Here For More Information About <%= link_to d.name, "/merchants/#{@merchant.id}/discounts/#{d.id}" %></p><br>
  <% end %>